

    <div class = "card1">
      <div class="container">
        <div class="cards">
          <div class="row">
            <div class="col-4">
              <div class="card-pic-comment1">
                <%= image_tag "pic1.png", width: 300, height: 250  %>
                <p><strong>Personalised Advice</strong></p>
              </div>
            </div>
            <div class="col-8">
              <div class="card-description1">
                <h1><strong>Find Your Vocation</strong></h1>
                <p><strong>New concept, Innovative approach</strong></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="card-description2">
                <p><strong>The best way to get a crystal clear advice about your vocation</strong></p>
                <p><strong>Check your personality, choose your domain and we give you the opportunities to have a hands on experience on the different jobs before you really start to work</strong></p>
              </div>
              <div class="buttons1">
                <%= link_to "Start your personality test", new_test_path, class: "btn21" %>
              </div>
            </div>
            <div class="col-6">
              <div class="card-pic-comment2">
                <%= image_tag "pic2.png", class: "homepage-background"%>
                <p><strong>I choose my path</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="card2 ">
    <div class="other-actions">
      <div class="cardero d-flex">
      <h2> What is our process? </h2>
      <img src="http://backgroundexamine.com/wp-content/uploads/2018/08/Automation-Icon.png" alt="">
      </div>
      <div class="horizontal-line"></div>
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="number">01</div>
                <div class="description3">
                  <h3><strong>Understand your personality</strong></h3>
                  <p>Accurate description of who you are and why you do things the way you do</p>
                <div class="buttons3 d-flex">
                <button class="btn1"><strong>Read about personality</strong></button>

                </div>
            </div>
          </div>
          <div class="col-6 cardo">
            <%= image_tag "pic5.png", width: 459, height: 270  %>

          </div>
        </div>




      <div class="row">
        <div class="col-5 cardo">
          <%= image_tag "pic4.png", width: 459, height: 270  %>

        </div>
        <div class="col-7 low">
          <div class="number">02</div>
          <div class="description4">
            <h3><strong>In depth analysed advice</strong></h3>
            <p>Deep analysis is done by experienced analysts considering the test results and the previous experience of the candidate</p>
             <div class="buttons24 analyse d-flex">
              <button class="btn24"><strong>Analyse the advice</strong></button>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 lowo">
          <div class="number">03</div>
          <div class="description5">
            <h3><strong>Hands-on experience with professionals</strong></h3>
            <p>Experienced professionals in different volunteer themselves & share insights about different kinds of job prospects</p>
            <div class="buttons3 explore d-flex">
              <button class="btn2"><strong>Explore the experience</strong></button>

            </div>
          </div>
        </div>
        <div class="col-6 cardo">
          <%= image_tag "pic3.png", width: 459, height: 270  %>

        </div>
      </div>
      <div class="col-12 d-flex">
        <div class="buttons2">
          <%= link_to "Start your personality test", new_test_path, class: "btn21" %>
        </div>
        <div class="description6">
          <p><strong>Are you ready to switch?</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>

      <footer>
        <a href=""><h5>Contact us</h5></a>
        <a href=""><h5>Our Story</h5></a>
        <div class="icon d-flex">
        <a href=""><h5>Follow us</h5></a>
          <img class="fb" src="https://image.flaticon.com/icons/svg/174/174848.svg" alt="">
          <img class="twit" src="https://image.flaticon.com/icons/svg/145/145812.svg" alt="">
          <img class="inst" src="https://image.flaticon.com/icons/svg/1409/1409946.svg" alt="">
        </div>
      </footer>

