<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>JobSwitchers</title>
  </head>
  <body>
    <div class = "card1">
      <div class="container">
        <div class="cards">
          <div class="row">
            <div class="col-4">
              <div class="card-pic-comment1">
                <%= image_tag "pic1.png", width: 300, height: 250  %>
                <p><strong>Personalised Advice</strong></p>
              </div>
            </div>
            <div class="col-8">
              <div class="card-description1">
                <h1><strong>Find Your Vocation</strong></h1>
                <p><strong>New concept, Innovative approach</strong></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="card-description2">
                <p>The best way to get a crystal clear advice about your vocation.</p>
                <p>Check your personality, choose your domain and we give you the opportunities to have a hands on experience on the different jobs before you really start to work.</p>
              </div>
              <div class="buttons1">
                <a href="" class="btn"><strong>Start your personality test</strong>
                <%#= link_to new_test_path, class: "btn" %>
                </a>
              </div>
            </div>
            <div class="col-6">
              <div class="card-pic-comment2">
                <%= image_tag "pic2.png", class: "homepage-background"%>
                <p><strong>I choose my path</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="card2 ">
    <div class="other-actions">
      <h2> What is our process? </h2>
      <div class="horizontal-line"></div>
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="number">01</div>
                <div class="description3">
              <h3><strong>Understand your personality</strong></h3>
              <p>Accurate description of who you are and why you do things the way you do</p>
              <div class="buttons3">
              <button class="btn1"><strong>Read about personality</strong></button>
              </div>
            </div>
          </div>
          <div class="col-6 cardo">
            <%= image_tag "pic5.png", width: 459, height: 270  %>
              <div class="info">
              <p><strong>Do the personality test & find your personality to have the exact job match</strong></p>
             </div>
          </div>
        </div>




      <div class="row">
        <div class="col-6 cardo">
          <%= image_tag "pic4.png", width: 459, height: 270  %>
            <div class="info">
            <p><strong>We advice you about the different oppurtunities after a deep analysis on your test results</strong></p>
           </div>
        </div>
        <div class="col-6 low">
          <div class="number">02</div>
          <div class="description4">
            <h3><strong>In depth analysed advice</strong></h3>
            <p>Deep analysis is done by experienced analysts considering the test results and the previous experience of the candidate</p>
             <div class="buttons3">
              <button class="btn1"><strong>Analyse the advice</strong></button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-5 lowo">
          <div class="number">03</div>
          <div class="description5">
            <h3><strong>Hands-on experience with professionals</strong></h3>
            <p>Experienced professionals in different volunteer themselves & share insights about different kinds of job prospects</p>
            <div class="buttons3">
              <button class="btn2"><strong>Explore the experience</strong></button>
            </div>
          </div>
        </div>
        <div class="col-6 cardo">
          <%= image_tag "pic3.png", width: 459, height: 270  %>
            <div class="info">
            <p><strong>Work with the best professionals in the industry to get a hands on experience in the chosen field</strong></p>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

      <footer>
        <a href=""><h5>Contact us</h5></a>
        <a href=""><h5>About us</h5></a>
        <a href=""><h5>Follow us</h5></a>
        <div class="icon">
          <a href="" class="fab fa-facebook-square"></a>
          <a href="" class="fab fa-instagram"></a>
          <a href="" class="fab fa-twitter-square"></a>
        </div>
      </footer>
    </body>
  </html>
