

<div class="banner77">
<div class="container">
  <div class="dev">
    <h1>Personality Test Results  💡</h1>
  </div>
  <div class="card-infoy d-flex">
    <div class="infoy">
      <div class="card-imag1">
      <%= image_tag "b409.svg", width: 230, height: 290  %>
      </div>
      <div class="card-imag2">
      <%= image_tag "2.svg", width: 230, height: 290  %>
      </div>

    </div>
    <div class="card-triper">

      <h5><strong>You are Creative, Observant and Intuitive</strong></h5>

      <p>You are a creator, one who sees beauty in everything by thinking differently and looking at things from a different angle. While your creative mind allows to follow Your whims, you are a thoughtful and an inquisitive person.</p>

      <p>You enjoy spending time with other people, especially at artistic or creativity events. You have an eagerness to make your dreams a reality. With your hands-on approach and thorough grounding in details and circumstance, your personality is often poised to come up with a novel idea that is undeniably creative.</p>


      <p>You accomplish great things because of your creativity personality</p>
    </div>
    <div class="infoy">
      <div class="card-imag3">
      <%= image_tag "4.svg", width: 230, height: 290  %>
      </div>
      <div class="card-imag4">
      <%= image_tag "6.svg", width: 230, height: 290  %>
      </div>
    </div>
  </div>

  <div class="dev">
    <h1>Program - Craft </h1>
    <p>We give you the list of jobs and the professionals to contact according to the test results</p>
  </div>
  <div class="devy">
    <p></p>
  </div>

<div class="card-wrapper-scroll-y my-custom-scrollbar">
  <div class="card__collection clear-fix">
    <div class="card-trip">
    <div class="back">
      <div class="card-cats" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://blog.stylewe.com/wp-content/uploads/2016/11/design-your-own-shoes-1.jpg)">
        <div class="text">BOOTMAKER</div>
      </div>
      <div class="cards cards--two">

        <img src="https://www.embe.org/wp-content/uploads/2018/09/Allison-Sinning-web.jpg" class="img-responsive" alt="Cards Image">

        </div>
      </div>
      <div class="infy">
      <h4><strong>Job Title: Bootmaker</strong></h4>
      <h6><strong>Job Description:</strong></h6>
          <li> Makes boots and shoes, using hand and machine tools: Makes patterns, using form of foot and pattern paper, and outlines patterns on leather</li>
          <li> May design and make women's fashion or custom shoes of materials, such as leather, fabric, and straw and be designated Custom-Shoe Designer And Maker</li>
           <div class="buttons5">
            <a href="" class="btn5"><strong>Talk to Lucie</strong></a>
          </div>
      </div>
    </div>
  </div>



    <div class="card__collection clear-fix">
      <div class="card-trip">
      <div class="back">
        <div class="card-cats" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.capitaltradies.com.au/upload/blog/4501-1505862800.jpg)">
          <div class="text">CARPENTER</div>
        </div>
        <div class="cards cards--two">
          <img src="http://parksoundstudio.com/images/dan-web.jpg">

          </div>
        </div>
        <div class="infy">
        <h4><strong>Job Title: Carpenter</strong></h4>
        <h6><strong>Job Description:</strong></h6>
            <li> Ability to read and interpret blueprints</li>
            <li> Assisting supervisors with structural design, planning, layout, and installation</li>
            <li> Ability to assess the quality of woodwork and materials</li>
            <li> Ability to operate tools, machines, and other equipment</li>
             <div class="buttons5">
              <a href="" class="btn5"><strong>Talk to Maurice</strong></a>
            </div>
        </div>
      </div>
    </div>


  <div class="card__collection clear-fix">
    <div class="card-trip">
      <div class="back">
        <div class="card-cats" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://gtrk-omsk.ru//upload/iblock/43b/yuvelir.jpg)">
        <div class="text">JEWELRY DESIGNER</div>
        </div>
      <div class="cards cards--two">
        <img src="https://heymama.co/wp-content/uploads/2019/05/Adina-Reyter-Headshot-1.jpg" class="img-responsive" alt="Cards Image">

        </div>
      </div>
      <div class="infy">
      <h4><strong>Job Title: Jewelry Designer</strong></h4>
      <h6><strong>Job Description:</strong></h6>
          <li> Create or draw designs or models using computer or on paper</li>
          <li> Make designs that are attractive enough for the clients</li>
          <li> Meet the expectations of clients by using metal, gems or stones as per their interests</li>
           <div class="buttons5">
            <a href="" class="btn5"><strong>Talk to Marie</strong></a>
          </div>
      </div>
    </div>
  </div>



  <div class="card__collection clear-fix">
    <div class="card-trip">
      <div class="back">
        <div class="card-cats" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.buytopcoupons.com/wp-content/uploads/2018/05/iStock-529873457-1024x683.jpg)">
          <div class="text">FLORIST</div>
        </div>
      <div class="cards cards--two">
        <img src="https://www.handsup.lu/images/cache/758_cropped_500_500_90_546e0d4b63627_fleuriste.jpg" class="img-responsive" alt="Cards Image">
          <div class="text">Charlotte Bonefille</div>
        </div>
      </div>
      <div class="infy">
      <h4><strong>Job Title: Florist</strong></h4>
      <h6><strong>Job Description:</strong></h6>
          <li> Arrange both real and artificial flowers for display at occasions or in the home or office</li>
          <li> Make traditional corsages, bouquets, wreaths, and wedding decorations, as well as other kinds of original designs</li>
          <li> Work with a wide range of foliage and flowers</li>
           <div class="buttons5">
            <a href="" class="btn5"><strong>Talk to Charlotte</strong></a>
          </div>
      </div>
    </div>
  </div>
      <%= form_tag orders_path do %>
      <%= hidden_field_tag 'program_id', @program.id %>
      <%= submit_tag 'Pay to unlock the jobs', class: 'btn btn-primary' %>
      <% end %>

</div>
</div>
</div>


      <footer>
        <a href=""><h5>Contact us</h5></a>
        <a href=""><h5>About us</h5></a>
        <a href=""><h5>Follow us</h5></a>
        <div class="icon">
          <a href="" class="fab fa-facebook-square"></a>
          <a href="" class="fab fa-instagram"></a>
          <a href="" class="fab fa-twitter-square"></a>
        </div>
      </footer>









