
<div class="banner pb-5">
  <h3 class="text_form">Complete the test to find out your personality type</h3>
  <%= form_tag tests_path do%>
  <%= hidden_field_tag 'answer_id', @answer.id%>
  <div class="row d-flex justify-content-center">
    <div class="accordion col-6" id="accordionExample" style="margin-bottom: 7%;">
      <% @questions.each_with_index do |q, i| %>
      <div class="card">
        <div class="card-header d-flex py-1" id="headingOne">
          <h2 class="font mb-0">
          <a href="" class="bols <%= 'collapsed' unless i.zero? %>" type="" data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="<%= i.zero? %>" aria-controls="collapse<%= i %>">
           <%#= i + 1 %>
          </a>
          </h2>

        <div id="collapse<%= i %>" class="collapse <%= 'show' if i.zero? %>" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <p><%= q.q_test %> </p>
            <input type="radio" id="yes_<%= q.id %>" name="group<%= q.id %>"
            value="1" data-toggle="collapse" data-target="#collapse<%= i+1 %>" aria-controls="collapse<%= i+1 %>"> ✔️
            <input type="radio" id="no_<%= q.id %>" name="group<%= q.id %>"
            value="1" data-toggle="collapse" data-target="#collapse<%= i+1 %>" aria-controls="collapse<%= i+1 %>">  ✖️

            </div>
          </div>
        </div>
      </div>
      <% end %>
    <%= hidden_field_tag 'program_id', @program.id %>
    <%= submit_tag 'Submit', class: 'btn11 mt-3' %>
    </div>
  </div>
  <% end %>

</div>
